In [11]:
n=976
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=int(n/10)
print(rev)

679

In [7]:
def is_ordered_word(word, sequence):
    seq_idx = 0
    for letter in word:
        if letter == sequence[seq_idx]:
            seq_idx += 1
        if seq_idx == len(sequence):
            return True
    return False

dictionary = ["hope", "slope", "posh", "lopes","hops","hopsd","hospital","abcs","hopsssss","hopsegh"]
sequence = "hops"
ordered_words = [word for word in dictionary if is_ordered_word(word, sequence)]

print(ordered_words)

['hops', 'hopsd', 'hopsssss', 'hopsegh']

In [2]:
d={1:"A",2:"C",3:"D",4:"E"}
d[1]="G"
d

{1: 'G', 2: 'C', 3: 'D', 4: 'E'}

n=357
sum=0
while(n>0):
    rem=n%10
    sum=sum+rem
    n=int(n/10)
print(sum)

In [3]:
n=357
sum=0
while(n>0):
    rem=n%10
    sum=sum+rem
    n=int(n/10)
print(sum)

15

In [10]:
n=153
num=n
sum=0
while(n>0):
    rem=n%10
    sum=sum+rem*rem*rem
    n=int(n/10)
if num==sum:
    print("armstrong")
else:
    print('not')

armstrong

In [12]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [13]:
l=[10,20,30,40]
for i in l:
    print(i)

10
20
30
40

In [14]:
d=(4,6,7,9)
for i in d:
    print(i)

4
6
7
9

In [15]:
d={4,5,8}
for i in d:
    print(i)

8
4
5

In [18]:
d={1:56,2:67,7:8}
for i in d.values():
    print(i)

56
67
8

In [26]:
l=[1,2,3]
l2=[2,3,8]
l3=[7,8,5]
l4=[]
l4=l+l2+l3+l4
print(l4)

[1, 2, 3, 2, 3, 8, 7, 8, 5]

In [25]:
l=(1,2,3)
l2=(2,3,8)
l3=(7,8,5)
l4=()
l4=l+l2+l3
print(l4)

(1, 2, 3, 2, 3, 8, 7, 8, 5)

In [4]:
l={1:3,2:6,6:3}
l2={8:2,5:3,4:8}
l3={3:7,9:8,10:5}
l4={}
l.update(l2)
l.update(l3)
print(l)

{1: 3, 2: 6, 6: 3, 8: 2, 5: 3, 4: 8, 3: 7, 9: 8, 10: 5}

In [6]:
l={1:3,2:6,6:3}
l2={8:2,5:3,4:8}
l3={3:7,9:8,10:5}
l4={}
for i in(l,l2,l3):
    l4.update(i)
print(l4)

{1: 3, 2: 6, 6: 3, 8: 2, 5: 3, 4: 8, 3: 7, 9: 8, 10: 5}

In [7]:
l={1,3,2,6,6,3}
l2={8,2,5,3,4,8}
l3={7,8,10,5}
l4={}
l.update(l2)
print(l)

{1, 2, 3, 4, 5, 6, 8}

In [10]:
l={1,3,2,6,6,3}
l2={8,2,5,3,4,8}
l3={7,8,10,5}
l4={}
for i in(l):
    l4.update(i)
print(l4)

TypeError: 'int' object is not iterable

In [13]:
l4=[]
l4

[]

In [14]:
t=()
t

()

In [15]:
s={}
s

{}

In [16]:
d={}
print(d)

{}

In [17]:
l1=()
l1

()

In [18]:
l1=list()
l1

[]

In [19]:
t=tuple()
t

()

In [20]:
t=tuple[]
t

SyntaxError: invalid syntax (2168891813.py, line 1)

In [21]:
l=list[]
l

SyntaxError: invalid syntax (1135287258.py, line 1)

In [22]:
d=dict()
d

{}

In [23]:
d=dict{}
d

SyntaxError: invalid syntax (1894385644.py, line 1)

In [25]:
s=set{}
s

SyntaxError: invalid syntax (3568473707.py, line 1)

In [50]:
l2=list(['ABC'])
l2[0]

'ABC'

In [53]:
l2=list("ABC")
l2[-1]

'C'

In [28]:
t=tuple(("ABC"))
t

('A', 'B', 'C')

In [54]:
t=tuple("ABC")
t[0]

'A'

In [31]:
s=set({"ABC"})
s

{'ABC'}

In [59]:
s=set("ABC","ABC")
for i in s:
    print(i[0])

TypeError: set expected at most 1 argument, got 2

In [60]:
d={1,4,6,8,6}
for i in d:
    print(i)

8
1
4
6

In [41]:
s=dict("A","ABC")
s

TypeError: dict expected at most 1 argument, got 2

In [42]:
l=list(range(0,5))
l

[0, 1, 2, 3, 4]

In [43]:
t=tuple(range(0,5))
t

(0, 1, 2, 3, 4)

In [49]:
s=set(range(0,5))
s

{0, 1, 2, 3, 4}

In [45]:
d=dict(range(0,5))
d

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [64]:
d={1:"a",2:"b",3:"c"}
d.get(1)

'a'

In [77]:
l=[1,2,3,4,5,6,7,8,9,10]
l[1:6]

[2, 3, 4, 5, 6]

In [67]:
t=(1,2,3,4,5)
t[2:-1]

(3, 4)

In [2]:
l=[1,4,6,7,8]
l.insert(4,2)
l

[1, 4, 6, 7, 2, 8]

In [1]:
l=()
for i in range(1,10):
    l.append(i)
print(l)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
l={4,6,7,8,9}
l.add(45)
l

{4, 6, 7, 8, 9, 45}

In [8]:
l={6,2,3,48}
l.add(7)
l

{2, 3, 6, 7, 48}

In [1]:
l=[1,2,3]
l1=[4,5,6]
l4=l1.extends(l)
l4

AttributeError: 'list' object has no attribute 'extends'

In [10]:
l=[1,2,3]
l1=[4,5,6]
l4=l1.extend([l])
l4

In [9]:
l=[1,2,3]
l1=[4,5,6]
l1.extend([7,8])
l1

[4, 5, 6, 7, 8]

In [14]:
l=[1,2,3]
l1=[4,5,6]
l1.insert(1,[4,5])
l1

[4, [4, 5], 5, 6]

In [17]:
t=(3,4,5)
t1=t+(6,7)
t1

(3, 4, 5, 6, 7)

In [1]:
t=(1,2,3,[4,5])
t[3][0]

4

In [2]:
t=(1,2,3,[4,5])
t[3][0]=8
t

(1, 2, 3, [8, 5])

In [5]:
t=(1,2,3,[4,5])
t[1]+(2,7)
t

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [7]:
t=(1,2,3,4)
t=list(t)
t[1]=9
b=tuple(t)
b

(1, 9, 3, 4)

In [12]:
s={1,2,3,4}
s1={8,7,9}
s2={}
for i in(s,s1):
    s.update(i)
print(s)

{1, 2, 3, 4, 7, 8, 9}

In [52]:
s={1,2,3,4}
s1={8,7,9}
s2={}
for i in(s,s1):
    sq=i*i
    print(sq)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [14]:
s={1,2,3,4}
s1={8,7,9}
s2={5,8,11}
s.update(s1)
s.update(s2)
s

{1, 2, 3, 4, 5, 7, 8, 9, 11}

In [22]:
s={1:'A',2:'B',3:'C',4:'D'}
s1={8:'E',7:'F',9:'G'}
s2={5:'F',11:'H'}
s.update(s1.values())
s.update(s2.values())
s

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [51]:
s={1:'A',2:'B',3:'C',4:'D'}
s1={8:'E',7:'F',9:'G'}
s2={5:'F',11:'H'}
for i in(s,s1,s2):
    sq=
print(sq)

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [31]:
l1=(1,2)
l2=(3,4,(8,9))
l=l1+l2
l

(1, 2, 3, 4, (8, 9))

In [32]:
l1=[2,3]
l2=[3,4,(4,6)]
l=[]
for i in(l1,l2):
    print(i)

[2, 3]
[3, 4, (4, 6)]

In [34]:
l1=(2,3)
l2=(3,4,(4,6))
l=()
for i in(l1,l2):
    print(i)

(2, 3)
(3, 4, (4, 6))

In [35]:
l1=[2,3]
l2=[3,4,(4,6)]
l=[]
for i in(l1,l2):
    l.append(i)
print(l)

[[2, 3], [3, 4, (4, 6)]]

In [50]:
l1=[2,3]
l2=[3,4,4,6]
l=[]
for i in(l1,l2):
    sq=i*i
    print(sq)

TypeError: can't multiply sequence by non-int of type 'list'

In [54]:
l1=(1,2)
l=(3,4,(8,9))
l2=()
for i in(l1):
    sq=i*i
    print(sq)

1
4

In [55]:
d={1:1,2:4,3:9}
d1={4:16,5:25}
d2={}
for i in(d):
    print(i,d[i])

1 1
2 4
3 9

In [19]:
s={1,5,2,3,8,5}
l=list(s)
print(l)
s=list(reversed(l))
print(s)
s=set(s)
print(s)

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]
{1, 2, 3, 5, 8}

In [18]:
t=(3,7,1,2)
s=tuple(sorted(t))
s

(1, 2, 3, 7)

In [38]:
s={1,5,2,3,8,5}
l=list(s)
print(l)
s=list(sorted(l))
print(s)
s=set(s)
print(s)

[1, 2, 3, 5, 8]
[1, 2, 3, 5, 8]
{1, 2, 3, 5, 8}

In [6]:
d1={3:9,4:16,1:1,2:4}
sorted(d1)

[1, 2, 3, 4]

d1={3:9,4:16,1:1,2:4}
d2=dict(sorted(d1.keys()))
d2